<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Marcas</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Administración</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Productos</a></li>
                                <li class="breadcrumb-item active">Marcas</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <button routerLink="/administracion/productos/marcas/crear-marca" type="button"
                                        class="btn btn-soft-primary btn-label mb-3"><i
                                            class="bx bx-user label-icon align-middle fs-16 me-2"></i> Crear
                                        Marca</button>
                                    <div class="custom-pagination col-lg-2 mb-3">
                                        <select class="form-select " id="p_limit" [(ngModel)]="p_limit"
                                            (change)="onPageSizeChange($event)">
                                            <option value="10">10</option>
                                            <option value="15">15</option>
                                            <option value="20">20</option>
                                        </select>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover align-middle mb-0">
                                            <thead class="table-light">
                                                <tr>
                                                    <th scope="col" class="text-center">N°</th>
                                                    <th scope="col" class="text-center">Categoría</th>
                                                    <th scope="col" class="text-center">Marca</th>
                                                    <th scope="col" class="text-center">Estado</th>
                                                    <th scope="col" class="text-center">Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let data of dataBrand | paginate : { itemsPerPage: p_limit, currentPage: p_offset, totalItems: total } ;let idx = index">
                                                    <td class="text-center">{{idx + 1}}</td>
                                                    <td class="text-center">{{ data.bra_descri }}</td>
                                                    <td class="text-center">{{ data.cat_descri }}</td>
                                                    <td class="text-center"
                                                        class="{{ utils.statusColor(data.bra_active) }}"
                                                        [innerHTML]="utils.statusText(data.bra_active)"></td>

                                                    <td>
                                                        <div class="gap-3 flex-wrap text-center">
                                                            <a *ngIf="data.bra_active" style="cursor: pointer;"
                                                                (click)="goRoute(data.bra_id)"
                                                                class="link-primary fs-15 me-2" title="Editar Marca"><i
                                                                    class="bx bx-edit-alt"></i></a>
                                                            <a (click)="deleteBrand(data.bra_id, data.bra_active)"
                                                                class="{{ utils.getEnableButtonClass(data.bra_active) }} fs-15"
                                                                style="cursor: pointer;"
                                                                title="{{ utils.getEnableButtonText(data.bra_active) }} Marca"><i
                                                                    class="bx bx-power-off"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div class="pagination-container">
                                            <pagination-controls (pageChange)="changePage($event)">
                                            </pagination-controls>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toast></app-toast>