<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Crear Perfil</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Administración</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Usuarios</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Perfiles de Usuario</a></li>
                                <li class="breadcrumb-item active">Crear Perfil</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row">                        
                        <div class="col-xl-12">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label for="placeholderInput" class="form-label">Nombre del Perfil</label>
                                        <input type="text" class="form-control" id="placeholderInput" autocomplete="off">
                                    </div>
                                    <div class="mb-3">
                                        <button type="submit" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#permissionsModal">Agregar Permisos</button>
                                    </div>
                                    <div class="mb-3">
                                        <div class="table-responsive">
                                            <table class="table table-hover align-middle mb-0">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th scope="col">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="responsivetableCheck">
                                                                <label class="form-check-label" for="responsivetableCheck"></label>
                                                            </div>
                                                        </th>
                                                        <th scope="col">N°</th>
                                                        <th scope="col">Menu Nivel 1</th>
                                                        <th scope="col">Menu Nivel 2</th>
                                                        <th scope="col">Menu Nivel 3</th>
                                                        <th scope="col">Permisos</th>
                                                        <th scope="col">Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of dataMenuPermissionSeted;let idx = index">
                                                        <th scope="row">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="responsivetableCheck01">
                                                                <label class="form-check-label" for="responsivetableCheck01"></label>
                                                            </div>
                                                        </th>
                                                        <td>{{ idx + 1 }}</td>
                                                        <td>{{ item.menu_n1 }}</td>
                                                        <td>{{ item.menu_n2 }}</td>
                                                        <td>{{ item.menu_n3 }}</td>
                                                        <td>{{ returnReadablePermissions(item.permisos) }}</td>
                                                        <td>
                                                            <div class="hstack gap-3 flex-wrap">
                                                                <a (click)="editSpecificPermission(item.id)" class="link-primary fs-15"><i class="bx bx-edit-alt"></i></a>
                                                                <a (click)="deleteSpecificPermission(item.id)" class="link-danger fs-15"><i class="bx bx-trash"></i></a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="text-end">
                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="permissionsModal" class="modal fade" tabindex="-1" aria-labelledby="permissionsModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="permissionsModalLabel">Agregar Permisos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
            </div>
            <div class="modal-body">
                <h5 class="fs-15">Asigne un menú al perfil en creación</h5>
                <div class="input-group mb-3">
                    <input type="text" class="form-control border-primary" aria-label="Buscar Menu" aria-describedby="btnBusquedaMenu" [(ngModel)]="inputSearchMenu" placeholder="Buscar Menú">
                    <button type="button" class="btn btn-outline-primary btn-icon" id="btnBusquedaMenu" (click)="menuSearcher()"><i class="bx bx-search-alt-2"></i></button>
                </div>
                <div *ngIf="dataMenuSearchArray?.length > 0" class="accordion" id="default-accordion-example">
                    <div *ngFor="let data of dataMenuSearchArray" class="accordion-item">
                        <h2 class="accordion-header" [id]="'heading' + data.id">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + data.id" aria-expanded="true" [attr.aria-controls]="'collapse' + data.id">
                                {{ data.title }}
                            </button>
                        </h2>
                        <div [id]="'collapse' + data.id" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + data.id" data-bs-parent="#default-accordion-example">
                            <div class="accordion-body">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [id]="'permissionsSee' + data.id" (change)="updatePermissionsModal(data.id)">
                                    <label class="form-check-label" [for]="'permissionsSee' + data.id">Lectura</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [id]="'permissionsInsert' + data.id" (change)="updatePermissionsModal(data.id)">
                                    <label class="form-check-label" [for]="'permissionsInsert' + data.id">Escritura</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [id]="'permissionsEdit' + data.id" (change)="updatePermissionsModal(data.id)">
                                    <label class="form-check-label" [for]="'permissionsEdit' + data.id">Actualización</label>
                                </div>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" [id]="'permissionsDelete' + data.id" (change)="updatePermissionsModal(data.id)">
                                    <label class="form-check-label" [for]="'permissionsDelete' + data.id">Eliminación</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<app-toast></app-toast>