<div class="app-menu navbar-menu">
    <div class="navbar-brand-box">
        <a routerLink="/" class="logo logo-dark">
            <span class="logo-sm mt-5">
                <img src="./assets/images/logo.png" alt="" height="60">
            </span>
            <span class="logo-lg mt-5">
                <img style="margin-top: 10;" src="./assets/images/logo.png" alt="" height="60">
            </span>
        </a>
        <a routerLink="/" class="logo logo-light">
            <span class="logo-sm">
                <img src="./assets/images/logo.png" alt="" height="26">
            </span>
            <span class="logo-lg">
                <img src="./assets/images/logo.png" alt="" height="26">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>
    <div id="scrollbar">
        <div class="container-fluid">
            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">
                <li class="menu-title"><span data-key="t-menu">Menu</span></li>
                <li class="nav-item">
                    <a routerLink="/usuarios" class="nav-link menu-link"> <i class="bi bi-speedometer2"></i> <span data-key="t-dashboard">Usuarios</span> </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/aplicaciones" class="nav-link menu-link"> <i class="bi bi-cart"></i> <span data-key="t-compras">Aplicaciones</span> </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/perfil" class="nav-link menu-link"> <i class="mdi mdi-lifebuoy"></i> <span data-key="t-ayuda">Perfiles</span> </a>
                </li>
                <li class="nav-item">
                    <a routerLink="/aplicacion-perfil" class="nav-link menu-link"> <i class="mdi mdi-lifebuoy"></i> <span data-key="t-ayuda">Aplicación - Perfil</span> </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-background"></div>
</div>